<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
<div class="container pt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title text-center">Car list</h2>
                    <form action="/add" method="post">
                        <input type="hidden" name="id" value="{{cars._id}}">
                        <div class="form-group">
                            <label for="ten">Tên xe:</label>
                            <input type="text" class="form-control" id="ten" name="ten" placeholder="Nhập tên xe"
                                value="{{cars.ten}}" required />
                        </div>
                        <div class="form-group">
                            <label for="nam">Năm xe:</label>
                            <input type="text" class="form-control" id="nam" name="nam" placeholder="Nhập năm xe"
                                value="{{cars.nam}}" required />
                        </div>
                        <div class="form-group">
                            <label for="giaban">Giá:</label>
                            <input type="text" class="form-control" id="giaban" name="giaban" placeholder="Nhập giá"
                                value="{{cars.giaban}}" required />
                        </div>
                        <button type="submit" class="btn btn-primary btn-block">Lưu</button>
                        <a href="/home" class="btn btn-primary btn-block" style="color: black;">Hủy</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>